<div class="card">
    <div class="card-image-container">
      <img [src]="projectImage" class="card-img-top">
    </div>
    <div class="card-body">
      <h5 class="card-title"><strong>{{projectName}}</strong></h5>
      <p class="card-text">{{projectDescription}}</p>
      <div class="button-container">
        <a [href]="projectRepo" target="_blank" class="btn btn-primary">Repo</a>
        <a [href]="projectDemo" target="_blank" class="btn btn-primary">Demo</a>
        <a [href]="npmPackage" target="_blank" class="btn btn-primary" *ngIf="npmPackage">NPM Package</a>
      </div>
    </div>
</div>