.about-me- {
    &container {
        font-family: 'IBM Plex Mono';
        strong {
            font-family: 'IBM Plex Mono Bold';
        }
    }
    &image-container {
        img {
            width: 20rem;
            padding: 2rem 2rem;
        }
    }
    &bio-container {
        padding: .5rem 2rem;
    }
}



